<div class="container">
    <div class="main">
        <div class="header">
            <h3>{{customer.id}} - ({{customer.name}})</h3>
            {{> go-home-page}}
        </div>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Company</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#with customer}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{company}}</td>
                        <td>{{phone}}</td>
                        <td>{{mail}}</td>
                        <td>{{country}}</td>
                        <td>
                            <div class="btns">
                                <div>
                                    <form method="GET" action="/customers/forms/edit-form/{{id}}">
                                        <button class="edit" type="submit" style="font-size: 16px;">
                                            Edit
                                        </button>
                                    </form>
                                </div>
                                <div class="delete-btn">
                                    <form method="POST" action="/customers/{{id}}?_method=DELETE">
                                        <button class="delete" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/with}}
                </tbody>
            </table>
        </div>
    </div>
</div>